---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { FastTravel } from "../../components/FastTravel";
---

<Layout title="Fast Travel" pubDatetime={new Date()} modDatetime={new Date()}>
  <Header title="Fast Travel" slug="graph" />
  <main id="main-content">
    <div class="px-6 font-main text-xl py-24">
      <div class="max-w-5xl mx-auto">
        <FastTravel client:load />
      </div>
      <div class="text-center pt-16">
        <button
          id="close-main"
          class="rounded-md bg-myorange/10 hover:bg-black hover:text-white px-3.5 py-1.5 text-base leading-7 text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-myorange"
        >
          Close
        </button>
      </div>
    </div>
  </main>
  <Footer created={new Date()} context={true} />
</Layout>

<script>
  import { init } from "../../utils/init";
  import { closeContextPane } from "../../utils/helpers";

  document.addEventListener("astro:page-load", () => {
    init();
    closeContextPane();
  });
</script>
