---
import { getAllPaneDatum } from "../../../api/drupal";
import type {
  PaneDatumProps,
  PaneDatum,
  FileNode,
  MarkdownDatum,
} from "../../../types";

export async function getStaticPaths() {
  const panes: PaneDatum[] = await getAllPaneDatum();
  const pathsPromises: Promise<{
    params: { id: string };
    props: PaneDatumProps;
  }>[] = panes.map(async (pane: PaneDatum) => {
    return {
      params: { id: pane.id },
      props: {
        title: pane.title,
        id: pane.id,
        slug: pane.field_slug,
        drupalNid: pane.drupal_internal__nid,
        optionsPayload: JSON.parse(pane.field_options),
        isContextPane: pane.field_is_context_pane,
        heightRatioDestop: pane.field_height_ratio_desktop,
        heightRatioTablet: pane.field_height_ratio_tablet,
        heightRatioMobile: pane.field_height_ratio_mobile,
        heightOffsetDestop: pane.field_height_offset_desktop,
        heightOffsetTablet: pane.field_height_offset_tablet,
        heightOffsetMobile: pane.field_height_offset_mobile,
        images: pane.field_image,
        imageSvgs: pane.field_image_svg,
        markdown: pane.field_markdown,
      },
    };
  });
  return Promise.all(pathsPromises);
}

const {
  title,
  slug,
  id,
  drupalNid,
  optionsPayload,
  isContextPane,
  heightRatioDestop,
  heightRatioTablet,
  heightRatioMobile,
  heightOffsetDestop,
  heightOffsetTablet,
  heightOffsetMobile,
  images,
  imageSvgs,
  markdown,
}: {
  title: string;
  slug: string;
  id: string;
  drupalNid: number;
  optionsPayload: any;
  isContextPane: boolean;
  heightRatioDestop: string;
  heightRatioTablet: string;
  heightRatioMobile: string;
  heightOffsetDestop: number;
  heightOffsetTablet: number;
  heightOffsetMobile: number;
  images: FileNode[];
  imageSvgs: FileNode[];
  markdown: MarkdownDatum[];
} = Astro.props;

export const prerender = true;
export const partial = true;
---

<div>
  <p>{title}</p>
  <p><strong>slug:</strong> {slug}</p>
  <p><strong>id:</strong> {id}</p>
  <p><strong>payload:</strong> {JSON.stringify(optionsPayload)}</p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
