---
import { getPane, getAllPanes } from "../../../api/drupal";
import type { Pane, PaneDatum } from "../../../types";

export async function getStaticPaths() {
  const panes: Pane[] = await getAllPanes();
  const pathsPromises: Promise<{
    params: { id: string };
    props: { title: string; id: string; slug: string; pane: Pane };
  }>[] = panes.map(async (pane: Pane) => {
    const paneDatum: PaneDatum[] = await getPane(id);
    return {
      params: { id: pane.id },
      props: {
        title: pane.title,
        id: pane.id,
        slug: pane.field_slug,
        payload: paneDatum.at(0),
      },
    };
  });
  return Promise.all(pathsPromises);
}
const {
  title,
  slug,
  id,
  payload,
}: { title: string; slug: string; id: string; payload: Pane } = Astro.props;

export const prerender = true;
export const partial = true;
---

<div>
  <p>{title}</p>
  <p><strong>slug:</strong> {slug}</p>
  <p><strong>id:</strong> {id}</p>
  <p><strong>pane payload:</strong> {JSON.stringify(payload)}</p>
</div>
