//import Branding from './Branding';
import type { ResourceDatum} from '../types';

const CodeHook = ( props : { target: string;payload:ResourceDatum[] }) => {
  switch (props.target) {
    //case `Branding`:
    //  return <Branding />

    default:
      console.log(`missed on`, props.target)
      return <div />
  }
}

export default CodeHook;
