---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ShoppingCart } from "@components/ShoppingCart";
import type { StylesVersion } from "../types";

const stylesVerUrl = `${import.meta.env.PUBLIC_CONCIERGE_STYLES_URL}/v.json`;
const requestStyles: Response = await fetch(stylesVerUrl);
const stylesVer: StylesVersion =
  requestStyles.status === 404 ? 0 : await requestStyles.json();
const stylesUrl = `${import.meta.env.PUBLIC_CONCIERGE_STYLES_URL}/frontend.css?v=${stylesVer?.v || 0}`;

export const prerender = false;
---

<Layout
  title="Shopping Cart"
  pubDatetime={new Date()}
  modDatetime={new Date()}
  stylesUrl={stylesUrl}
>
  <Header title="Shopping Cart" slug="cart" />
  <main id="main-content">
    <ShoppingCart client:load />
    <div class="text-center pb-16">
      <a
        href="/"
        class="rounded-md bg-myorange/10 hover:bg-black hover:text-white px-3.5 py-1.5 text-base leading-7 text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-myorange"
      >
        Close
      </a>
    </div>
  </main>
  <Footer created={new Date()} />
</Layout>
