---
import { tailwindWhitelist } from "../utils/tailwindWhitelist";
import { getAllPaneDatum } from "../api/drupal";
import { cleanPaneDatum } from "../utils/compositor/cleanPaneDatum";
import type { PaneDatum } from "../types";

const panes: PaneDatum[] = await getAllPaneDatum();
const whitelist = tailwindWhitelist(
  panes.map((pane: PaneDatum) => cleanPaneDatum(pane))
);
---

<ul>
  {whitelist.map(s => <li>{s}</li>)}
</ul>
