---
import { tailwindWhitelist } from "../utils/tailwindWhitelist";
import { getAllPaneFullDatum, getAllStoryFragmentDatum } from "../api/drupal";
import { cleanPaneDatum } from "../utils/compositor/cleanPaneDatum";
import type { StoryFragmentDatum, PaneFullDatum } from "../types";

const panes: PaneFullDatum[] = await getAllPaneFullDatum();
const storyFragments: StoryFragmentDatum[] = await getAllStoryFragmentDatum();
const whitelist = tailwindWhitelist(
  panes.map((pane: PaneFullDatum) => cleanPaneDatum(pane)),
  storyFragments
);
---

<ul>
  {whitelist.map(s => <li>{s}</li>)}
</ul>
