---
import Pane from "./Pane.astro";
import { Close } from "./other/Close";
import type { Current, ContentMap, PaneDatumProps } from "../types";

export interface Props {
  pane: PaneDatumProps;
  contentMap: ContentMap[];
  current: Current;
}
const { pane, contentMap, current } = Astro.props;
---

<astro-context-pane-wrapper
  data-id={JSON.stringify(current)}
  data-map={JSON.stringify(contentMap)}
>
  <div class="py-16">
    <div id={`pane-${pane.id}`} class="pane" data-hidden="false">
      <Pane payload={pane} />
    </div>
    <Close client:load />
  </div>
</astro-context-pane-wrapper>

<script>
  import { storySteps, current, contentMap } from "../store/events";

  class ContextPaneWrap extends HTMLElement {
    constructor() {
      super();
      const id = this.dataset.id;
      const thisId = id ? JSON.parse(id) : null;
      if (thisId) {
        current.set(thisId);
        const storyStep = {
          id: thisId.id,
          slug: thisId.slug,
          title: thisId.title,
          type: `ContextPane`,
        };
        storySteps.set([...storySteps.get(), storyStep]);
      }
      const contentMapPayload = this.dataset.map;
      if (contentMapPayload) contentMap.set(JSON.parse(contentMapPayload));
    }
  }
  customElements.define("astro-context-pane-wrapper", ContextPaneWrap);
</script>
