---
import Socials from "./other/Socials.astro";
import FooterMenu from "./FooterMenu";
import Link from "./other/Link.astro";
import type { MenuDatum } from "../types";

export interface Props {
  created?: Date;
  menu?: MenuDatum;
  context?: boolean;
}

const footer = import.meta.env.PUBLIC_FOOTER || ``;
const { created = new Date(), context = false, menu } = Astro.props;
---

<footer class="w-full">
  <div class="flex justify-end px-6">
    {
      !context ? (
        <button
          id="top"
          title="Back to top"
          class="opacity-20 hover:opacity-50 text-myblue p-1 rounded-md bg-white hover:bg-myblue hover:text-white text-xl fixed bottom-12 right-2"
        >
          ↑
        </button>
      ) : null
    }
  </div>
  <div class="pb-6">
    {menu ? <FooterMenu payload={menu} /> : null}
    <Socials />
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue/80"
    >
      <div class="px-8 text-center">
        Copyright &#169; {created.getFullYear()}
        &nbsp;|&nbsp;
        {footer}
      </div>
    </div>
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue/80"
    >
      <div class="px-8 text-center">
        This website is pressed with&nbsp;
        <Link
          href="https://tractstack.com"
          className="hover:underline font-bold hover:text-black"
          target="_blank"
          title="Tract Stack by At Risk Media"
        >
          Tract Stack</Link
        >
        &ndash; Powered by <Link
          href="https://atriskmedia.com"
          className="hover:underline font-bold hover:text-black"
          target="_blank"
          title="At Risk Media">At Risk Media</Link
        >'s next chapter digital analytics
      </div>
      <br /><br /><br />
    </div>
  </div>
</footer>

<style>
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
</style>
