---
import Socials from "./other/Socials.astro";
import FooterMenu from "./FooterMenu";
import Link from "./other/Link.astro";
import type { MenuDatum } from "../types";

export interface Props {
  created?: Date;
  menu?: MenuDatum;
  context?: boolean;
}

const slogan = import.meta.env.PUBLIC_FOOTER || ``;
const { created = new Date(), context = false, menu } = Astro.props;
---

<footer class="w-full">
  <div class="flex justify-end px-6">
    {
      !context ? (
        <button
          id="top"
          title="Back to top"
          class="text-black/50 hover:text-black text-3xl"
        >
          ↑
        </button>
      ) : null
    }
  </div>
  <div class="pb-6">
    {menu ? <FooterMenu payload={menu} /> : null}
    <Socials />
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row"
    >
      <span>Copyright &#169; {created.getFullYear()}</span>
      <span class="hidden xs:inline">&nbsp;|&nbsp;</span>
      <span>{slogan}</span>
    </div>
    <div
      class="my-2 flex flex-col items-center justify-center xs:flex-row text-myblue/80"
    >
    <div class="px-3 text-center">
      Pressed with&nbsp;
      <Link
        href="https://tractstack.com"
        className="hover:underline font-bold"
        target="_blank"
        title="Tract Stack by At Risk Media"
      >
        Tract Stack</Link
      >
      : all-in-one publishing platform to grow your content into a business
      </div>
    </div>
  </div>
</footer>

<style>
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
</style>
