---
import { Home } from "./icons/Home";
import { Close } from "./icons/Close";
import Menu from "./Menu";
import { StorySteps } from "./other/StorySteps";
import { RememberMe } from "./other/RememberMe";
import { CartIcon } from "./other/CartIcon";
import type { MenuDatum } from "../types";

export interface Props {
  title: string;
  slug: string;
  menu?: MenuDatum;
  context?: boolean;
}

const { title, slug, menu, context = false } = Astro.props;
const isHome = slug === import.meta.env.PUBLIC_HOME;

// this may include:
// - Menu
// - shopify cart
// - go home
// - breadcrumbs map
// - close button (back) on context panes
---

<header class="relative bg-white shadow-inner">
  <div
    class="flex flex-row flex-nowrap items-center justify-between py-3 px-4 md:px-8 bg-mygreen/10"
  >
    <a href="/" title="Home page">
      <div class="flex flex-row flex-nowrap items-center h-8">
        <object
          type="image/svg+xml"
          data="/custom/logo.svg"
          class="h-5 w-auto pointer-events-none"
          aria-label="Logo">Logo</object
        >
        <span class="w-2"></span>
        <object
          type="image/svg+xml"
          data="/custom/wordmark.svg"
          aria-label="Wordmark"
          class="h-5 w-auto pointer-events-none">Wordmark</object
        >
      </div>
    </a>
    {!!menu ? <Menu payload={menu} client:load /> : null}
  </div>
  <div
    class="flex flex-row flex-nowrap justify-between pt-4 pb-3
px-4 md:px-8 bg-mywhite shadow-inner"
  >
    <h1 class="text-myblack truncate">{title}</h1>
    <div class="flex flex-row flex-nowrap">
      {
        !isHome ? (
          <a
            href="/"
            class="text-myblue/80 hover:text-myblue hover:rotate-6"
            title="Go to home page"
          >
            <Home classes="w-6 h-6 mx-2" client:load />
          </a>
        ) : null
      }
      <a
        href="/concierge/graph"
        class="text-myblue/80 hover:text-myblue hover:rotate-6"
        title="Your Content Journey"
      >
        <StorySteps client:load />
      </a>
      <RememberMe client:load />
      {
        context ? (
          <button
            id="close"
            class="text-myblue/80 hover:text-myblue hover:rotate-6"
            title="Return to previous page"
          >
            <Close classes="w-6 h-6 mx-2" client:load />
          </button>
        ) : null
      }
      <CartIcon client:load />
    </div>
  </div>
</header>
