---
import { getProductByHandle } from "../../utils/shopify/shopify";
import { setCache } from "../../utils/shopify/cache";

const { handle } = Astro.params;
//const headers = Astro.request.headers;
//const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const ip = Astro.clientAddress;
const product = await getProductByHandle({ handle: handle || "", buyerIP: ip });

if (!product) {
  Astro.response.status = 404;
}

const firstVariant = product?.variants.nodes[0];
setCache.short(Astro);
---

<div>
  <p><strong>payload:</strong> {JSON.stringify(product)}</p>
</div>
